#container{
    border: 1px solid rgb(155, 170, 255);
    background-color:rgb(209, 208, 252);
    margin: auto;
    height: 640px;
    width: 1360px;
}

.box1 {
    grid-column-start:1 ;
    grid-column-end: 4 ;
background: linear-gradient(120deg,rgba(2, 0, 36, 1) 0%, 
rgb(168, 16, 206) 0%, rgba(119, 0, 255, 1) 100%);
   align-content: center; 
    
}


.box2 {
  background: linear-gradient(174deg,rgba(2, 0, 36, 1) 0%, 
  rgba(26, 153, 145, 1) 0%, rgba(0, 239, 247, 0.9) 100%);
    grid-row-start:2 ;
    grid-row-end: 4;
    align-content: center;
}


.box3 {

  
    grid-column-start: 2;
  background: linear-gradient(162deg,rgba(2, 0, 36, 1) 0%,
   rgba(26, 33, 163, 1) 0%, rgba(0, 149, 255, 0.92) 100%);
    grid-column-end: 4;
   align-content: center;

}


.box4 {
   background: linear-gradient(162deg,rgba(2, 0, 36, 1) 0%,
    rgba(26, 33, 163, 1) 0%, rgba(0, 149, 255, 0.92) 100%);
    align-content: center;
}


.box5 {
   background: linear-gradient(162deg,rgba(2, 0, 36, 1) 0%, 
   rgba(26, 33, 163, 1) 0%, rgba(0, 149, 255, 0.92) 100%);
   align-content: center;
}


.box6 {
    background: linear-gradient(120deg,rgba(2, 0, 36, 1) 0%, 
rgb(168, 16, 206) 0%, rgb(89, 0, 255) 100%);
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
}



.row1{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 4fr 3fr 1fr;
border: 1px solid rgb(190, 199, 252);
height: 600px; 
width: 1300px;
margin: auto;
padding: 10px;
gap: 10px;
margin-top: 6px;
background-color: rgb(209, 208, 252);

}
    *{color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
font-weight: 600;
    
    
    }